@using ASPNETMVCSample.Models
@model Book
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" action="ShowForm">
    <input type="text" id="Title" name="Title" />
    <br />
    <input type="text" id="publisher" name="publisher" />
    <br />
    <button type="submit">Submit</button>

</form>
