<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("metatagsection", required: false)
</head>
<body>
    @RenderSection("mysection", required: false)

    <h1>Heading from the layout</h1>
    <div>
        @RenderBody()
    </div>
    <div>copyright information</div>
</body>
</html>
